*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-nav:#AE0001;
    --font-col: #EEBA30;
    --bg-main: #740001;
    --font-head: #C0C0C0;
    --font-hov:  #D3A625;
    --button-col: #000000;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
nav{
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-nav);
}
.logo img{
    width: 5rem;
    height: 5rem;
    margin: auto;
}
.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap:5rem;
}
nav ul li{
    font-size: 1.2rem;
    color: var(--font-col);
    cursor: pointer;
}
nav ul li:hover{
    color: var(--font-hov);
}
nav ul li:active{
    color: var(--font-head);
    text-decoration: underline;
}
.hamburger{
    display: none;
    background-color: transparent;
}
.hamburger:hover, .hamburger:active{
    background-color: transparent;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.hamburger svg path{
    fill: var(--font-head);
}

#gryffindor{
    color: var(--font-head);
    text-decoration: underline;
}
.body{
    background-color: var(--bg-main);
}
main .gryffindor{
    display: block;
}
main .slytherin, main .hufflepuff, main .ravenclaw{
    display: none;
}
main .gryffindor section, main .slytherin section, main .hufflepuff section, main .ravenclaw section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100vh;
}
h1{
    color: var(--font-head);
    font-size: 4rem;
    margin-block: auto;
}
.part-1 .text{
    width: 60%;
    padding: 1rem;
}
.part-1 .image{
    width: 30%;
    display: flex;
    justify-content: center;
}
p{
    font-size: 1.3rem;
    color: var(--font-col);
    margin:1rem 0 2rem ;
}
button{
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: var(--font-col);
    cursor: pointer;
}
button:hover{
    background-color: var(--font-hov);
    
}
a{
    text-decoration: none;
    color: var(--button-col);
}
.text{
    padding-inline: 1rem;
}

@media (max-width: 1000px) {
    main .gryffindor section, main .slytherin section, main .hufflepuff section, main .ravenclaw section{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .part-1 .image{
        margin-bottom: -3rem;
    }
}
@media (max-width: 870px) {
    .tabs{
        margin-inline: 3rem ;
    }
    .hamburger{
        display: block;
    }
    .tabs ul{
        flex-direction: column;
    }
    .tabs ul li{
        display: none;

    }
}