*{
    margin: 0;
    padding: 0;
}
:root{
    --black: hsl(0, 0%, 10%);
    --yellow: hsl(51, 100%, 50%);
    --orange: hsl(39, 100%, 50%);
    --white: hsl(0, 0%, 94%);
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--black);
}
.container{
    display: flex;
}
img{
    width: 50rem;
    height: 35rem;
}
button{
    width: 5rem;
    height: 7rem;
    font-size: 3rem;
    transform: translateY(200%);
    background-color: var(--yellow);
    border: none;
    outline: none;
    border-radius: 0.3rem;
}
button:hover{
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}